/* WE SHOULD BE STYLING FOR MOBILE FIRST AND USE MEDIA QUERIES FOR LARGER SCREENS*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main-content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
}

#term-list{
  width: 90%;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.settingsmenu {
  position: absolute;
  top: 0;
  left: 0;
}

.text-input {
  background: #fff;
  border-radius: 100px;
  border-bottom-right-radius:0;
  border-top-right-radius:0;
  padding: 0.5rem;
  padding-left: 1rem;
  border: none;
  color: #000;
}

.text-input:focus{
  /* box-shadow: 0px 10px 17px -10px #C523B4,0px 5px 20px 0px rgba(238,228,233,0.2); */
  border: 2px solid #C523B4;
  border-right: none;
  outline: none;
}

.text-input-home {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.input-container {
  width: 90%;
}

.input-bar-container {
  display: flex;
  justify-content: space-around;
}

.button-container {
  position: relative;
}
.home-input-button{
  position: fixed;
  right: 5%;
  border-radius: 100px;
  padding: 0.5rem;
  padding-left:2rem;
  padding-right:2rem;
}

.url-link:hover{
  color: #0070f3;
}

.url-list-container {
  position: relative;
  box-shadow: 0px 10px 17px -15px #C523B4,0px 5px 20px 0px rgba(238,228,233,0.2);
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.remove-url-btn{
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 100px;
}

.image-wrapper {
  overflow: hidden;
  position: relative;
  height: 200;
  border-radius: 10px;
  width: 400;
}
/* position: 'relative', height: 200, borderRadius: '10px', width:400, overflow: 'hidden', marginRight: '2rem' */

.primary-btn{
  border-radius:100px
}


/* 14/01 */
.term-heading-container {
  display: flex;
  justify-content: space-between;
  /* margin: 1rem; */
}

.link:hover {
  cursor: pointer;
}

.link-text:hover {
  text-decoration: underline;
}

.w-30 {
  width: 30%;
}

.hover-cursor:hover{
  cursor: pointer;
}

.home-page-description-container {
  width: 100%
}

.home-page-thumbnail-container {
  width: 100%;
  border: 2px solid red;
}

@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotate {
  animation: rotate 2s infinite linear;
}

@media only screen and (min-width: 1000px){
  .home-page-description-container {
    width: 50%
  }

  .home-page-thumbnail-container {
    width: 50%
  }

  .main-content-container{
    width: 70%;
  }
  /* .url-list-card {
    width: 60vw;
    margin: 2rem;
    margin-top: 4rem;
  } */

  .url-list-card{
    position: relative;
    width: 100%;
  }

  .image-wrapper {
    overflow: hidden;
    position: relative;
    height: 200;
    border-radius: 10px;
    width: 100%;
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 1200px){
  /* .url-list-card {
    width: 40vw;
    margin: 2rem;
    margin-top: 4rem;
  } */
}

:root{
  --toastify-color-dark: #2f3!important;
  --toastify-text-color-dark: #3ff;
  --toastify-color-error: #c20000;
  --toastify-color-success: #0c7d1f;
}
/** handle the notification color and the text color based on the theme **/
.Toastify__toast-theme--dark {
  background: #000!important;
}

.Toastify__toast--error {
  box-shadow: 0px 10px 15px -5px var(--toastify-color-error), 0px 5px 20px 0px rgba(238,228,233,0.2)!important;
  border: 2px solid var(--toastify-color-error)!important;
}

.Toastify__toast--success {
  box-shadow: 0px 10px 15px -5px var(--toastify-color-success), 0px 5px 20px 0px rgba(238,228,233,0.2)!important;
  border: 2px solid var(--toastify-color-success)!important;
}

.Toastify__toast-theme--light {
  background: #fff!important;
}
::-webkit-scrollbar{
  width: 10px
}
