html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  /* html { */
  /*   color-scheme: dark; */
  /* } */
  /* body { */
  /*   color: white; */
  /*   background: black; */
  /* } */
}

.settingsmenu {
  position: absolute;
  top: 0;
  left: 0;
}

.text-input {
  background: #fff;
  border-radius: 100px;
  border-bottom-right-radius:0;
  border-top-right-radius:0;
  padding: 0.5rem;
  padding-left: 1rem;
  border: none;
  color: #000;
}

.text-input:focus{
  /* box-shadow: 0px 10px 17px -10px #C523B4,0px 5px 20px 0px rgba(238,228,233,0.2); */
  border: 2px solid #C523B4;
  border-right: none;
  outline: none;
}

.text-input-home {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.input-container {
  width: 90%;
}

.input-bar-container {
  display: flex;
  justify-content: space-around;
}

.button-container {
  position: relative;
}
.home-input-button{
  position: fixed;
  right: 5%;
  border-radius: 100px;
  padding: 0.5rem;
  padding-left:2rem;
  padding-right:2rem;
}

.url-link:hover{
  color: #0070f3;
}

.url-list-container {
  position: relative;
  box-shadow: 0px 10px 17px -15px #C523B4,0px 5px 20px 0px rgba(238,228,233,0.2);
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.remove-url-btn{
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 100px;
}

.image-wrapper {
  overflow: hidden;
}

.primary-btn{
  border-radius:100px
}

